
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Estudiante</h4>
        <h6 class="card-subtitle">Actualizar información</h6>

        <form class="form-horizontal p-t-20"
              [formGroup]="estudianteForm"
              (submit)="guardarEstudiante()">

          <div class="form-group row"
               *ngIf="estudianteSeleccionado">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Foto</label>
            <div class="col-sm-9">
              <div class="input-group">
                <img [src]="estudianteSeleccionado.img | imagen: 'estudiantes'"
                     class="w200"/>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="text"
                       formControlName="nombre"
                       class="form-control"
                       id="exampleInputuname3"
                       placeholder="Nombre del estudiante">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Codigo</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="text"
                       formControlName="codigo"
                       class="form-control"
                       id="exampleInputuname4"
                       placeholder="Codigo de estudiante">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Escuela Profesional</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="text"
                       formControlName="escuela"
                       class="form-control"
                       id="exampleInputuname5"
                       placeholder="Escuela profesional">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Escuela</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="text"
                       formControlName="codigoEp"
                       class="form-control"
                       id="exampleInputuname6"
                       placeholder="Escuela (IF,MA ...)">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Semestre</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="text"
                       formControlName="anioSemestre"
                       class="form-control"
                       id="exampleInputuname7"
                       placeholder="Año del semestre">

              </div>
            </div>
          </div>

<!--          <div class="form-group row">-->
<!--            <label for="exampleInputEmail3" class="col-sm-3 control-label">Hospital</label>-->
<!--            <div class="col-sm-9">-->
<!--              <div class="input-group">-->
<!--                <select class="form-control"-->
<!--                        formControlName="hospital">-->
<!--                  <option value="">Seleccione Hospital</option>-->
<!--                  <option *ngFor="let hospital of hospitales"-->
<!--                          [value]="hospital._id">-->
<!--                    {{ hospital.nombre }}-->
<!--                  </option>-->
<!--                </select>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit"
                      [disabled]="estudianteForm.invalid"
                      class="btn btn-success waves-effect waves-light">
                <i class="fa fa-save"></i>
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<!--  <div class="col animated fadeIn fast"-->
<!--       *ngIf="hospitalSeleccionado">-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->

<!--        <h4 class="card-title">Hospital</h4>-->
<!--        <h6 class="card-subtitle">{{ hospitalSeleccionado.nombre }}</h6>-->

<!--        <img [src]="hospitalSeleccionado.img | imagen:'hospitales'"-->
<!--             class="img-thumbnail"/>-->

<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
</div>



